.carousel-item {
    background-size: cover;
    background-position: center center;
  li { 
    width: 30px;
    height:30px;
    margin:0 5px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.carousel-inner {
    max-height: 465px;
  }
  .carousel-indicators .active {
    background-color:#E92569 ;
  }
}
























